@charset "UTF-8";
body {
  font-family: 'Antic Didone', serif;
  color: #75695d; }

h1, span {
  font-family: 'Antic Didone', serif;
  color: #75695d;
  font-size: 40px;
  font-weight: 75;
  text-align: center; }

p {
  color: #413a33;
  font-size: 18px;
  font-family: 'Raleway', sans-serif; }

/***************************************** NAVBAR *****************************************/
/*Le doy todas las propiedades a las listas que usé, que son la nav y el footer*/
.logoTerra {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%; }

.nav {
  list-style: none;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px; }
  .nav a {
    color: #75695d;
    transition: .3s; }

.nav a:hover {
  color: antiquewhite;
  text-shadow: 1px 1px 1px gray; }

/***************************************** HOME *****************************************/
.homePage {
  height: 100vh;
  /*Busco que se destaque el header y la descripción como intro de la página haciendo que ocupe todo el viewport*/ }

.homePage__container h1 {
  color: #75695d;
  font-family: 'Antic Didone', serif;
  text-align: left;
  font-size: 70px; }

.homePage__container--text {
  padding: 10% 5% 5% 6%; }

.homePage__container--image img {
  width: 100%; }

.fa {
  text-decoration: none;
  color: #75695d; }

/***************************************** NOSOTROS *****************************************/
.container__nosotros {
  text-align: center; }
  .container__nosotros .container__nosotros--imagen {
    width: 50%;
    border: 5px solid white;
    box-shadow: 2px 2px 10px gray;
    transition: 1s; }
  .container__nosotros .container__nosotros--text {
    background: linear-gradient(75deg, white 0%, #fbf6f2 53%); }
  .container__nosotros .vectorCasa {
    width: 50%; }
  .container__nosotros div {
    margin: 3% 0% 6% 0%; }

/***************************************** TABLA DE PRODUCTOS *****************************************/
/*Esta sección tiene una tabla con dos columnas, y una fila por producto, donde va el nombre y la descripción a la izquierda y la foto a la derecha*/
.fa-chevron-left, .fa-chevron-rigth {
  color: #75695d; }

.container__productos {
  text-align: center;
  /*Quiero que el texto se pegue a la derecha, cerca de la foto*/
  color: #413a33; }
  .container__productos div {
    margin: 2% 0% 2% 0%; }
  .container__productos .row {
    padding: 0% 10% 0% 10%; }
  .container__productos h2 {
    font-family: 'Antic Didone', sans-serif; }
    .container__productos h2 p {
      font-family: 'Raleway', sans-serif; }
  .container__productos .container__productos--text {
    padding: 0% 10% 0% 10%; }

/*A continuación le doy estilo a cada una de las imágenes de productos*/
.container__productos--imagen {
  text-align: left;
  width: 50%;
  border: 5px solid white;
  box-shadow: 2px 2px 10px gray;
  transition: 1s; }

.container__nosotros--imagen:hover, .container__productos--imagen:hover {
  transform: scale(1.05); }

/***************************************** CONTACTO *****************************************/
.container__contacto {
  text-align: center; }
  .container__contacto form {
    font-family: 'Poppins', sans-serif; }

/***************************************** MAYORISTAS *****************************************/
.container__mayoristas {
  text-align: center; }
  .container__mayoristas .container__mayoristas--productos {
    padding: 5%; }
    .container__mayoristas .container__mayoristas--productos .carousel-item {
      padding: 5%; }

.container__mayoristas--imagen {
  width: 60%;
  border: 5px solid white;
  box-shadow: 2px 2px 10px gray; }

/***************************************** FOOTER *****************************************/
.footer {
  color: #413a33;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px; }
  .footer ul li a {
    color: #75695d;
    transition: .3s; }
  .footer a:hover {
    color: antiquewhite;
    text-shadow: 1px 1px 1px gray; }
