@charset "UTF-8";
body {
  font-family: "Antic Didone", serif;
  color: #75695d; }

h1,
span {
  font-family: "Antic Didone", serif;
  color: #75695d;
  font-size: 40px;
  font-weight: 75;
  text-align: center; }

p {
  color: #413a33;
  font-size: 18px;
  font-family: "Raleway", sans-serif; }

/***************************************** NAVBAR *****************************************/
/*Le doy todas las propiedades a las listas que usé, que son la nav y el footer*/
.logoTerra {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%; }

.nav {
  list-style: none;
  overflow: hidden;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px; }
  .nav a {
    color: #75695d;
    transition: 0.3s; }

.nav a:hover {
  color: antiquewhite;
  text-shadow: 1px 1px 1px gray; }

/***************************************** CARRITO *****************************************/
/* .u-full-width {
    width: 100%;
    box-sizing: border-box;
}
.u-pull-right {
    float: right;
}
*/
.ul-carrito {
  list-style: none; }

.total-pesos {
  text-align: right;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600; }

/*.submenu {
    position: relative;
}
 */
/***************************************** HOME *****************************************/
.homePage__container {
  margin-bottom: 8%; }

.homePage__container h1 {
  color: #75695d;
  font-family: "Antic Didone", serif;
  text-align: left;
  font-size: 70px; }

.homePage__container--text {
  padding: 10% 5% 5% 6%; }

.homePage__container--image img {
  width: 100%; }

.homePage__secondContainer {
  padding: 5%;
  text-align: center;
  background: linear-gradient(0deg, white 0%, #fbf6f2 53%); }
  .homePage__secondContainer p {
    margin: 10%; }
  .homePage__secondContainer img {
    width: 20%; }

.homePage__thirdContainer {
  padding: 5%;
  text-align: center; }
  .homePage__thirdContainer img {
    width: 50%; }
  .homePage__thirdContainer a {
    color: #75695d;
    transition: 0.3s; }
  .homePage__thirdContainer a:hover {
    color: antiquewhite;
    text-shadow: 1px 1px 1px gray; }

.fa {
  text-decoration: none;
  color: #75695d; }

/***************************************** NOSOTROS *****************************************/
.container__nosotros {
  text-align: center; }
  .container__nosotros .container__nosotros--imagen {
    width: 70%;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 2px 2px 10px gray;
    transition: 1s; }
  .container__nosotros .row {
    height: 70vh; }
  .container__nosotros a {
    color: #75695d;
    transition: 0.3s; }
  .container__nosotros a:hover {
    color: antiquewhite;
    text-shadow: 1px 1px 1px gray; }

.fondonosotros {
  text-align: left;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.7) 45%, white 60%), url("../img/camposoja2.png");
  background-repeat: no-repeat; }
  .fondonosotros .row {
    padding-top: 7%;
    margin: 5% 0% 5% 0%; }
  .fondonosotros h1 {
    font-family: "Poppins", sans-serif;
    text-align: left; }
  .fondonosotros p {
    font-size: 19px; }
  .fondonosotros img {
    width: 100%;
    border-radius: 50%; }

.fondonosotros2 {
  text-align: left;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.7) 50%, white 70%), url("../img/deco2.png");
  background-repeat: no-repeat; }
  .fondonosotros2 .row {
    padding-top: 7%;
    margin: 5% 0% 5% 0%; }
  .fondonosotros2 h1 {
    font-family: "Poppins", sans-serif;
    text-align: left; }
  .fondonosotros2 p {
    font-size: 19px; }

.fondonosotros3 {
  text-align: left;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.7) 50%, white 70%), url("../img/cielo.jpg");
  background-repeat: no-repeat; }
  .fondonosotros3 .row {
    padding-top: 7%;
    margin: 5% 0% 5% 0%; }
  .fondonosotros3 h1 {
    font-family: "Poppins", sans-serif;
    text-align: left; }
  .fondonosotros3 p {
    font-size: 19px; }

.porqueTerra .row {
  padding-top: 5%;
  margin: 5% 0% 5% 0%; }

/***************************************** PRODUCTOS *****************************************/
.container__productos {
  text-align: center;
  color: #413a33; }
  .container__productos .row {
    margin: 5% 0% 5% 0%;
    padding: 0% 5% 0% 5%; }
    .container__productos .row p {
      text-align: left;
      font-family: "Raleway", sans-serif; }
  .container__productos h2 {
    margin-top: 15%;
    text-align: left;
    font-family: "Antic Didone", sans-serif; }
  .container__productos .container__productos--text {
    padding: 0% 10% 0% 10%; }

.container__productos--imagen {
  width: 100%;
  border-radius: 20px; }

.container__nosotros--imagen:hover {
  transform: scale(1.05); }

.tarjeta_producto {
  box-shadow: 2px 3px 14px -3px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 2px 3px 14px -3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 2px 3px 14px -3px rgba(0, 0, 0, 0.52);
  height: 100%;
  background-color: white;
  mix-blend-mode: normal;
  backdrop-filter: blur(22px);
  border-radius: 20px; }
  .tarjeta_producto .btn-primary {
    color: #75695d;
    background-color: antiquewhite;
    border: none; }
  .tarjeta_producto .btn-primary:hover {
    background-color: #fad6a6;
    color: #75695d; }
  .tarjeta_producto .row {
    padding: 0px; }
  .tarjeta_producto h2,
  .tarjeta_producto p {
    margin: 0px; }

/***************************************** CONTACTO *****************************************/
.container__contacto {
  text-align: center; }
  .container__contacto form {
    font-family: "Poppins", sans-serif; }

/***************************************** MAYORISTAS *****************************************/
.container__mayoristas .carousel-item {
  text-align: center; }

.container__mayoristas img {
  margin: center; }

.container__mayoristas .row {
  padding: 5%; }
  .container__mayoristas .row .carousel-item {
    padding: 5%; }

.container__mayoristas form {
  font-family: "Poppins", sans-serif;
  text-align: center; }

.container__mayoristas--imagen {
  width: 60%;
  border: 5px solid white;
  box-shadow: 2px 2px 10px gray; }

/***************************************** FOOTER *****************************************/
.footer {
  color: #413a33;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px; }
  .footer ul li a {
    color: #75695d;
    transition: 0.3s; }
  .footer a:hover {
    color: antiquewhite;
    text-shadow: 1px 1px 1px gray; }

@media (max-width: 992px) {
  .logoTerra {
    width: 30%; }
  .navbar a {
    padding: 5px;
    font-size: 13px; }
  .homePage__container--text h1 {
    font-size: 35px;
    margin-bottom: 5%; }
  .container__nosotros .row {
    height: auto;
    padding: 3%;
    margin: 0%; }
    .container__nosotros .row img {
      width: 40%; }
  .container__nosotros h1 {
    text-align: center; }
  .container__nosotros .fondonosotros {
    text-align: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.9) 90%), url("../img/camposoja2.png");
    height: 80vh; }
  .container__nosotros .fondonosotros2 {
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 50%, white 90%), url("../img/deco2.png");
    height: 80vh; }
  .container__nosotros .fondonosotros3 {
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 50%, white 90%), url("../img/cielo.jpg");
    height: 80vh; }
  .container__productos img {
    width: 60%; }
  .container__productos p {
    text-align: left; }
  .carruselproductos {
    height: 100vh;
    margin: auto; }
  .fondoInterior {
    background: none; }
  .container__productos--imagen {
    margin-left: 0%; }
  .container__contacto textarea {
    width: 90%; } }
